aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
cadquery==2.6.1
cadquery-ocp==7.8.1.1.post1
cadquery_vtk==9.3.1
cairocffi==1.7.1
CairoSVG==2.8.2
casadi==3.7.2
cffi==2.0.0
charset-normalizer==3.4.4
cssselect2==0.8.0
defusedxml==0.7.1
ezdxf==1.4.3
fonttools==4.61.1
freetype-py==2.5.1
frozenlist==1.8.0
idna==3.11
lxml==6.0.2
more-itertools==10.8.0
msgpack==1.1.2
multidict==6.7.0
multimethod==1.12
nlopt==2.9.1
numpy==2.3.5
path==17.1.1
pillow==12.0.0
propcache==0.4.1
pycairo==1.29.0
pycparser==2.23
pyparsing==3.2.5
PyYAML==6.0.3
reportlab==4.4.6
rlPyCairo==0.4.0
svglib==1.6.0
tinycss2==1.5.1
trame==3.12.0
trame-client==3.11.2
trame-common==1.0.1
trame-server==3.8.1
trame-vtk==2.10.0
typing_extensions==4.15.0
typish==1.9.3
webencodings==0.5.1
wslink==2.5.0
yarl==1.22.0
